/* How tu use this mixin:
 * include on the parent container argumemts are as follows:
 * 1. selector: add the complete css selector, as a string
 * 2. items per row: how many items are in a row max.
 * 3++. to make this responsive add breakpoints, separating with a comma, the mixin automatically reduces by 1.
 */
@font-face {
  font-family: "Aller";
  src: local("Aller Italic"), local("Aller-Italic"), url("../fonts/Aller/Aller-Italic.woff2") format("woff2"), url("../fonts/Aller/Aller-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Aller";
  src: local("Aller"), url("../fonts/Aller/Aller.woff2") format("woff2"), url("../fonts/Aller/Aller.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Aller";
  src: local("Aller Light"), local("Aller-Light"), url("../fonts/Aller/Aller-Light.woff2") format("woff2"), url("Aller-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Aller";
  src: local("Aller Bold"), local("Aller-Bold"), url("../fonts/Aller/Aller-Bold.woff2") format("woff2"), url("../fonts/Aller/Aller-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Aller";
  src: local("Aller Light Italic"), local("Aller-LightItalic"), url("../fonts/Aller/Aller-LightItalic.woff2") format("woff2"), url("../fonts/Aller/Aller-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Aller";
  src: local("Aller Bold Italic"), local("Aller-BoldItalic"), url("../fonts/Aller/Aller-BoldItalic.woff2") format("woff2"), url("../fonts/Aller/Aller-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

b,
strong {
  font-weight: bold; }

i {
  font-style: italic; }

img {
  max-width: 100%;
  height: auto; }

body,
html {
  max-width: 100%;
  overflow-x: hidden; }

body {
  height: auto;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  body footer,
  body header,
  body main {
    width: 100%;
    max-width: 1920px;
    margin-left: auto !important;
    margin-right: auto !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body.boxed {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcf298+25,efe422+87 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAgMAAABiJsVCAAAACXBIWXMAABI8AAASPAEFzVJ0AAAADFBMVEX////////////////1pQ5zAAAABHRSTlMACnOmhaPPpAAAABxJREFUCNdjYMAG8icAif0PgMT/DzACzAVLYAIAPrAJGzDj3Y4AAAAASUVORK5CYII=") repeat, -webkit-linear-gradient(315deg, #fcf298 25%, #efe422 87%) no-repeat;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAgMAAABiJsVCAAAACXBIWXMAABI8AAASPAEFzVJ0AAAADFBMVEX////////////////1pQ5zAAAABHRSTlMACnOmhaPPpAAAABxJREFUCNdjYMAG8icAif0PgMT/DzACzAVLYAIAPrAJGzDj3Y4AAAAASUVORK5CYII=") repeat, -o-linear-gradient(315deg, #fcf298 25%, #efe422 87%) no-repeat;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOAgMAAABiJsVCAAAACXBIWXMAABI8AAASPAEFzVJ0AAAADFBMVEX////////////////1pQ5zAAAABHRSTlMACnOmhaPPpAAAABxJREFUCNdjYMAG8icAif0PgMT/DzACzAVLYAIAPrAJGzDj3Y4AAAAASUVORK5CYII=") repeat, linear-gradient(135deg, #fcf298 25%, #efe422 87%) no-repeat; }
    body.boxed .box {
      background: white; }

.box {
  margin: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

section.box {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px; }

.main {
  margin: 10em auto 5em; }

@media screen and (max-width: 700px) {
  .main {
    margin: 6em auto 2em; } }
figure {
  padding-bottom: 5px;
  margin: 1.25rem 0; }

footer {
  padding: 5px;
  font-style: italic; }

body,
html {
  font-family: "Aller", "Calibri", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: black; }
  @media screen and (max-width: 800px) {
    body,
    html {
      font-size: 16px; } }

p {
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  p + p {
    margin-top: 2rem; }
  p strong {
    color: #0087b3; }

h1 {
  font-family: "Aller", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h2 {
  font-family: "Aller", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h3 {
  font-family: "Aller", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h4 {
  font-family: "Aller", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h5 {
  font-family: "Aller", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h6 {
  font-family: "Aller", "Calibri", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center; }

h1 {
  font-size: 3em;
  line-height: 1.05;
  color: #0087b3;
  margin: 2.5rem 0; }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 2em;
      margin: 2rem 0; } }

h2 {
  font-size: 2.25em;
  line-height: 1.25;
  margin: 1.25rem 0; }
  @media screen and (max-width: 800px) {
    h2 {
      font-size: 2em; } }

h3 {
  font-size: 1.75em;
  line-height: 1.25;
  margin: 1.25rem 0; }
  @media screen and (max-width: 800px) {
    h3 {
      font-size: 1.5em; } }

h4 {
  font-size: 1.125em;
  line-height: 1.22;
  margin: 0.5rem 0;
  font-weight: 500;
  margin-top: 1.5rem; }

h5 {
  font-size: 1.1em;
  margin: 0.3rem 0;
  font-weight: 500;
  margin-top: 1.5rem; }

h6 {
  font-size: 1em;
  margin: 0.25rem 0;
  font-weight: 500;
  margin-top: 1.5rem; }

.toggle,
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #0087b3;
  cursor: pointer;
  text-decoration: none; }
  .toggle:hover,
  a:hover {
    color: #5fbeec; }
  .toggle.btn,
  a.btn {
    border-radius: 20px;
    padding: 6.6666666667px 40px;
    border: 2px solid currentColor;
    margin: auto 10px;
    line-height: 3;
    white-space: nowrap;
    font-family: "Aller", "Calibri", sans-serif; }
    @media screen and (max-width: 600px) {
      .toggle.btn,
      a.btn {
        padding: 6.6666666667px 20px; } }
    .toggle.btn:hover,
    a.btn:hover {
      text-decoration: none;
      background: #0087b3;
      color: white;
      border-color: #0087b3; }

.text-black {
  color: black; }
.text-white {
  color: white; }
.text-center {
  text-align: center; }
.text-justify {
  text-align: justify; }
.text-left {
  text-align: left; }
.text-right {
  text-align: right; }
.text-hyphen {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
.text-no-hyphen {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }
.text-highlighted {
  background: #5fbeec;
  color: white;
  padding: 3px 0 1px; }
.text-small {
  font-size: 0.8em; }
.text-muted {
  opacity: 0.5; }
.text-lead {
  font-family: "Aller", "Calibri", sans-serif;
  line-height: 1.375;
  text-align: left;
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 1.25rem; }

figcaption {
  font-style: italic;
  margin-bottom: 1.25rem;
  margin-top: 0.5rem; }

body,
html {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0; }

body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 12fr;
  grid-template-areas: "head""main""foot";
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  body .head {
    grid-area: head; }
  body .main {
    grid-area: main; }
  body .foot {
    grid-area: foot; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .grid .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
  .grid .item-span-1 {
    grid-column-start: auto;
    grid-column-end: span 1; }
  .grid .item-span-lg-1,
  .grid .item-span-md-1,
  .grid .item-span-sm-1 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-2 {
    grid-column-start: auto;
    grid-column-end: span 2; }
  .grid .item-span-lg-2,
  .grid .item-span-md-2,
  .grid .item-span-sm-2 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-3 {
    grid-column-start: auto;
    grid-column-end: span 3; }
  .grid .item-span-lg-3,
  .grid .item-span-md-3,
  .grid .item-span-sm-3 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-4 {
    grid-column-start: auto;
    grid-column-end: span 4; }
  .grid .item-span-lg-4,
  .grid .item-span-md-4,
  .grid .item-span-sm-4 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-5 {
    grid-column-start: auto;
    grid-column-end: span 5; }
  .grid .item-span-lg-5,
  .grid .item-span-md-5,
  .grid .item-span-sm-5 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-6, .grid section .oversized div,
  .grid section .oversized figcaption,
  .grid section .oversized p,
  .grid section pre div,
  .grid section pre figcaption,
  .grid section pre p, .grid section .content-wide,
  .grid section .slider-wrap,
  .grid section .video-wrap,
  .grid section audio,
  .grid section h1,
  .grid section h2,
  .grid section h3,
  .grid section h4,
  .grid section h5,
  .grid section h6,
  .grid section iframe,
  .grid section img,
  .grid section ol,
  .grid section p,
  .grid section ul {
    grid-column-start: auto;
    grid-column-end: span 6; }
  .grid .item-span-lg-6,
  .grid .item-span-md-6,
  .grid .item-span-sm-6 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-7 {
    grid-column-start: auto;
    grid-column-end: span 7; }
  .grid .item-span-lg-7,
  .grid .item-span-md-7,
  .grid .item-span-sm-7 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-8, .grid section .oversized,
  .grid section pre, .grid section .content-wide.large,
  .grid section .slider-wrap.large,
  .grid section .video-wrap.large,
  .grid section audio.large,
  .grid section h1.large,
  .grid section h2.large,
  .grid section h3.large,
  .grid section h4.large,
  .grid section h5.large,
  .grid section h6.large,
  .grid section iframe.large,
  .grid section img.large,
  .grid section ol.large,
  .grid section p.large,
  .grid section ul.large {
    grid-column-start: auto;
    grid-column-end: span 8; }
  .grid .item-span-lg-8,
  .grid .item-span-md-8,
  .grid .foot,
  .grid section,
  .grid section .oversized img,
  .grid section pre img,
  .grid .item-span-sm-8 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-9 {
    grid-column-start: auto;
    grid-column-end: span 9; }
  .grid .item-span-lg-9,
  .grid .item-span-md-9,
  .grid .item-span-sm-9 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-10 {
    grid-column-start: auto;
    grid-column-end: span 10; }
  .grid .item-span-lg-10,
  .grid .item-span-md-10,
  .grid .item-span-sm-10 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-11 {
    grid-column-start: auto;
    grid-column-end: span 11; }
  .grid .item-span-lg-11,
  .grid .item-span-md-11,
  .grid .item-span-sm-11 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-12, .grid div, .grid .fullscreen {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-span-lg-12,
  .grid .item-span-md-12,
  .grid .item-span-sm-12 {
    grid-column-start: auto;
    grid-column-end: span 12; }
  .grid .item-offset-0, .grid section .content-wide.large,
  .grid section .slider-wrap.large,
  .grid section .video-wrap.large,
  .grid section audio.large,
  .grid section h1.large,
  .grid section h2.large,
  .grid section h3.large,
  .grid section h4.large,
  .grid section h5.large,
  .grid section h6.large,
  .grid section iframe.large,
  .grid section img.large,
  .grid section ol.large,
  .grid section p.large,
  .grid section ul.large {
    grid-column-start: 1; }
  .grid .item-offset-lg-1,
  .grid .item-offset-md-1,
  .grid .item-offset-sm-1 {
    grid-column-start: auto; }
  .grid .item-offset-1, .grid section .oversized div,
  .grid section .oversized figcaption,
  .grid section .oversized p,
  .grid section pre div,
  .grid section pre figcaption,
  .grid section pre p, .grid section .content-wide,
  .grid section .slider-wrap,
  .grid section .video-wrap,
  .grid section audio,
  .grid section h1,
  .grid section h2,
  .grid section h3,
  .grid section h4,
  .grid section h5,
  .grid section h6,
  .grid section iframe,
  .grid section img,
  .grid section ol,
  .grid section p,
  .grid section ul {
    grid-column-start: 2; }
  .grid .item-offset-lg-2,
  .grid .item-offset-md-2,
  .grid .foot,
  .grid section,
  .grid .item-offset-sm-2 {
    grid-column-start: auto; }
  .grid .item-offset-2 {
    grid-column-start: 3; }
  .grid .item-offset-lg-3,
  .grid .item-offset-md-3,
  .grid .item-offset-sm-3 {
    grid-column-start: auto; }
  .grid .item-offset-3 {
    grid-column-start: 4; }
  .grid .item-offset-lg-4,
  .grid .item-offset-md-4,
  .grid .item-offset-sm-4 {
    grid-column-start: auto; }
  .grid .item-offset-4 {
    grid-column-start: 5; }
  .grid .item-offset-lg-5,
  .grid .item-offset-md-5,
  .grid .item-offset-sm-5 {
    grid-column-start: auto; }
  .grid .item-offset-5 {
    grid-column-start: 6; }
  .grid .item-offset-lg-6,
  .grid .item-offset-md-6,
  .grid .item-offset-sm-6 {
    grid-column-start: auto; }
  .grid .item-offset-6 {
    grid-column-start: 7; }
  .grid .item-offset-lg-7,
  .grid .item-offset-md-7,
  .grid .item-offset-sm-7 {
    grid-column-start: auto; }
  .grid .item-offset-7 {
    grid-column-start: 8; }
  .grid .item-offset-lg-8,
  .grid .item-offset-md-8,
  .grid .item-offset-sm-8 {
    grid-column-start: auto; }
  .grid .item-offset-8 {
    grid-column-start: 9; }
  .grid .item-offset-lg-9,
  .grid .item-offset-md-9,
  .grid .item-offset-sm-9 {
    grid-column-start: auto; }
  .grid .item-offset-9 {
    grid-column-start: 10; }
  .grid .item-offset-lg-10,
  .grid .item-offset-md-10,
  .grid .item-offset-sm-10 {
    grid-column-start: auto; }
  .grid .item-offset-10 {
    grid-column-start: 11; }
  .grid .item-offset-lg-11,
  .grid .item-offset-md-11,
  .grid .item-offset-sm-11 {
    grid-column-start: auto; }
  .grid .item-offset-11 {
    grid-column-start: 12; }
  .grid .item-offset-lg-12,
  .grid .item-offset-md-12,
  .grid .item-offset-sm-12 {
    grid-column-start: auto; }
  @media screen and (min-width: 700px) {
    .grid .item-span-sm-1 {
      grid-column-start: auto;
      grid-column-end: span 1; }
    .grid .item-span-sm-2 {
      grid-column-start: auto;
      grid-column-end: span 2; }
    .grid .item-span-sm-3 {
      grid-column-start: auto;
      grid-column-end: span 3; }
    .grid .item-span-sm-4 {
      grid-column-start: auto;
      grid-column-end: span 4; }
    .grid .item-span-sm-5 {
      grid-column-start: auto;
      grid-column-end: span 5; }
    .grid .item-span-sm-6 {
      grid-column-start: auto;
      grid-column-end: span 6; }
    .grid .item-span-sm-7 {
      grid-column-start: auto;
      grid-column-end: span 7; }
    .grid .item-span-sm-8 {
      grid-column-start: auto;
      grid-column-end: span 8; }
    .grid .item-span-sm-9 {
      grid-column-start: auto;
      grid-column-end: span 9; }
    .grid .item-span-sm-10 {
      grid-column-start: auto;
      grid-column-end: span 10; }
    .grid .item-span-sm-11 {
      grid-column-start: auto;
      grid-column-end: span 11; }
    .grid .item-span-sm-12 {
      grid-column-start: auto;
      grid-column-end: span 12; }
    .grid .item-offset-sm-0 {
      grid-column-start: 1; }
    .grid .item-offset-sm-1 {
      grid-column-start: 2; }
    .grid .item-offset-sm-2 {
      grid-column-start: 3; }
    .grid .item-offset-sm-3 {
      grid-column-start: 4; }
    .grid .item-offset-sm-4 {
      grid-column-start: 5; }
    .grid .item-offset-sm-5 {
      grid-column-start: 6; }
    .grid .item-offset-sm-6 {
      grid-column-start: 7; }
    .grid .item-offset-sm-7 {
      grid-column-start: 8; }
    .grid .item-offset-sm-8 {
      grid-column-start: 9; }
    .grid .item-offset-sm-9 {
      grid-column-start: 10; }
    .grid .item-offset-sm-10 {
      grid-column-start: 11; }
    .grid .item-offset-sm-11 {
      grid-column-start: 12; } }
  @media screen and (min-width: 960px) {
    .grid .item-span-md-1 {
      grid-column-start: auto;
      grid-column-end: span 1; }
    .grid .item-span-md-2 {
      grid-column-start: auto;
      grid-column-end: span 2; }
    .grid .item-span-md-3 {
      grid-column-start: auto;
      grid-column-end: span 3; }
    .grid .item-span-md-4 {
      grid-column-start: auto;
      grid-column-end: span 4; }
    .grid .item-span-md-5 {
      grid-column-start: auto;
      grid-column-end: span 5; }
    .grid .item-span-md-6 {
      grid-column-start: auto;
      grid-column-end: span 6; }
    .grid .item-span-md-7 {
      grid-column-start: auto;
      grid-column-end: span 7; }
    .grid .item-span-md-8, .grid .foot, .grid section, .grid section .oversized img,
    .grid section pre img {
      grid-column-start: auto;
      grid-column-end: span 8; }
    .grid .item-span-md-9 {
      grid-column-start: auto;
      grid-column-end: span 9; }
    .grid .item-span-md-10 {
      grid-column-start: auto;
      grid-column-end: span 10; }
    .grid .item-span-md-11 {
      grid-column-start: auto;
      grid-column-end: span 11; }
    .grid .item-span-md-12 {
      grid-column-start: auto;
      grid-column-end: span 12; }
    .grid .item-offset-md-0 {
      grid-column-start: 1; }
    .grid .item-offset-md-1 {
      grid-column-start: 2; }
    .grid .item-offset-md-2, .grid .foot, .grid section {
      grid-column-start: 3; }
    .grid .item-offset-md-3 {
      grid-column-start: 4; }
    .grid .item-offset-md-4 {
      grid-column-start: 5; }
    .grid .item-offset-md-5 {
      grid-column-start: 6; }
    .grid .item-offset-md-6 {
      grid-column-start: 7; }
    .grid .item-offset-md-7 {
      grid-column-start: 8; }
    .grid .item-offset-md-8 {
      grid-column-start: 9; }
    .grid .item-offset-md-9 {
      grid-column-start: 10; }
    .grid .item-offset-md-10 {
      grid-column-start: 11; }
    .grid .item-offset-md-11 {
      grid-column-start: 12; } }
  @media screen and (min-width: 1260px) {
    .grid .item-span-lg-1 {
      grid-column-start: auto;
      grid-column-end: span 1; }
    .grid .item-span-lg-2 {
      grid-column-start: auto;
      grid-column-end: span 2; }
    .grid .item-span-lg-3 {
      grid-column-start: auto;
      grid-column-end: span 3; }
    .grid .item-span-lg-4 {
      grid-column-start: auto;
      grid-column-end: span 4; }
    .grid .item-span-lg-5 {
      grid-column-start: auto;
      grid-column-end: span 5; }
    .grid .item-span-lg-6 {
      grid-column-start: auto;
      grid-column-end: span 6; }
    .grid .item-span-lg-7 {
      grid-column-start: auto;
      grid-column-end: span 7; }
    .grid .item-span-lg-8 {
      grid-column-start: auto;
      grid-column-end: span 8; }
    .grid .item-span-lg-9 {
      grid-column-start: auto;
      grid-column-end: span 9; }
    .grid .item-span-lg-10 {
      grid-column-start: auto;
      grid-column-end: span 10; }
    .grid .item-span-lg-11 {
      grid-column-start: auto;
      grid-column-end: span 11; }
    .grid .item-span-lg-12 {
      grid-column-start: auto;
      grid-column-end: span 12; }
    .grid .item-offset-lg-0 {
      grid-column-start: 1; }
    .grid .item-offset-lg-1 {
      grid-column-start: 2; }
    .grid .item-offset-lg-2 {
      grid-column-start: 3; }
    .grid .item-offset-lg-3 {
      grid-column-start: 4; }
    .grid .item-offset-lg-4 {
      grid-column-start: 5; }
    .grid .item-offset-lg-5 {
      grid-column-start: 6; }
    .grid .item-offset-lg-6 {
      grid-column-start: 7; }
    .grid .item-offset-lg-7 {
      grid-column-start: 8; }
    .grid .item-offset-lg-8 {
      grid-column-start: 9; }
    .grid .item-offset-lg-9 {
      grid-column-start: 10; }
    .grid .item-offset-lg-10 {
      grid-column-start: 11; }
    .grid .item-offset-lg-11 {
      grid-column-start: 12; } }
  .grid .fullscreen {
    height: 100vh;
    background-size: cover;
    background-position: center center; }
  .grid section {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr); }
    @media screen and (max-width: 960px) {
      .grid section {
        padding: 10px 0; } }
    .boxed .grid section:first-of-type:not(.fullscreen):not(.full-width) {
      padding-top: 50px; }
      @media screen and (max-width: 960px) {
        .boxed .grid section:first-of-type:not(.fullscreen):not(.full-width) {
          padding-top: 20px; } }
    .boxed .grid section:last-of-type {
      padding-bottom: 50px; }
      @media screen and (max-width: 960px) {
        .boxed .grid section:last-of-type {
          padding-bottom: 50px; } }
    .grid section .oversized,
    .grid section pre {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      padding: 1.25rem 0;
      position: relative;
      margin-bottom: 2rem; }
      @media screen and (max-width: 1260px) {
        .grid section .oversized,
        .grid section pre {
          margin-bottom: 0;
          padding-bottom: 0; } }
      .grid section .oversized code,
      .grid section pre code {
        padding: 0 10px; }
    .grid section .textoverlay {
      padding: 0;
      margin: 30px 0;
      background: black; }
      .grid section .textoverlay img {
        opacity: 0.5; }
      .grid section .textoverlay .overlay-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        color: white;
        font-size: 3.1em;
        line-height: 1.05em;
        font-weight: normal;
        font-style: italic; }
    .grid section .content-wide,
    .grid section .slider-wrap,
    .grid section .video-wrap,
    .grid section audio,
    .grid section h1,
    .grid section h2,
    .grid section h3,
    .grid section h4,
    .grid section h5,
    .grid section h6,
    .grid section iframe,
    .grid section img,
    .grid section ol,
    .grid section p,
    .grid section ul {
      width: 100%; }

.overlay-open {
  overflow: hidden; }
  .overlay-open div:not(.overlay),
  .overlay-open footer,
  .overlay-open header,
  .overlay-open main {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    cursor: pointer; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98; }

.overlay {
  display: none;
  background: white;
  position: fixed;
  width: 70%;
  max-height: 70%;
  overflow: auto;
  border: 0 solid #5fbeec;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99; }
  @media screen and (max-width: 700px) {
    .overlay {
      width: 90%;
      max-height: 90%; } }
  .overlay.open {
    display: block; }
  .overlay .close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-family: "Aller", "Calibri", sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    z-index: 100;
    padding: 8px 15px; }
    .overlay .close:hover {
      text-decoration: none; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FDFDFD;
  color: #0087b3;
  z-index: 10000;
  font-family: "Aller", "Calibri", sans-serif;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu.boxed {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .menu .bar {
    width: 66.6666666667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu .current {
    color: #5fbeec;
    border-bottom: 3px solid #5fbeec; }
  .menu .dropdown span {
    display: inline-block;
    position: relative;
    padding-right: 10px; }
    .menu .dropdown span:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #0087b3 transparent transparent transparent;
      border-width: 5px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: -5px;
      -webkit-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .menu .dropdown span.open:after {
      -webkit-transform: translateY(-100%) scaleY(-1);
      -ms-transform: translateY(-100%) scaleY(-1);
      transform: translateY(-100%) scaleY(-1); }
  .menu .nav-toggle {
    cursor: pointer;
    display: none; }
    @media screen and (max-width: 700px) {
      .menu .nav-toggle {
        display: block; } }
  .menu .branding {
    display: inline-block;
    padding: 5px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu .branding span {
      padding: 5px; }
    .menu .branding img {
      display: inline-block; }
  .menu a,
  .menu span {
    color: #0087b3;
    cursor: pointer; }
    .menu a:hover,
    .menu span:hover {
      color: #5fbeec; }
  .menu ul {
    padding: 0 10px;
    list-style: none;
    list-style-type: none;
    position: relative;
    background: #FDFDFD;
    margin: 0;
    z-index: 10001; }
    @media screen and (max-width: 700px) {
      .menu ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        transform: translateX(-300px);
        -webkit-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        .menu ul.active {
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0); } }
    .menu ul li {
      list-style: none;
      display: inline-block;
      padding: 0 10px; }
      @media screen and (max-width: 700px) {
        .menu ul li {
          display: block; } }
    .menu ul ul {
      background: #FDFDFD;
      position: absolute;
      padding: 5px;
      width: 100%;
      margin: 0; }
      @media screen and (max-width: 700px) {
        .menu ul ul {
          position: relative; } }
      .menu ul ul li {
        display: block; }

.hamburger {
  font-size: 0;
  width: 30px;
  height: 3px;
  background: #0087b3;
  position: relative; }
  .hamburger:after, .hamburger:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background: #0087b3; }
  .hamburger:before {
    top: -9px; }
  .hamburger:after {
    bottom: -9px; }
  .hamburger:hover {
    background: #5fbeec; }
    .hamburger:hover:after, .hamburger:hover:before {
      background: #0087b3; }

.ex {
  font-size: 0;
  position: relative;
  right: 0;
  width: 100%;
  height: 20px;
  display: block;
  width: 100%; }
  .ex:after, .ex:before {
    content: '';
    width: 3px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #0087b3; }
  .ex:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .ex:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .ex:hover:after, .ex:hover:before {
    background: #5fbeec; }

pre {
  margin: 2rem 0 !important; }

.syndicom {
  position: fixed;
  right: 20px;
  bottom: 0;
  width: 20%;
  min-width: 150px;
  max-width: 250px;
  background: white;
  border-radius: 10px 10px 0 0;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px; }

.trennlinie {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAACXBIWXMAABOHAAAThwHVRKcyAAAAFVBMVEX///9fvuxfvuxfvuxfvuxfvuxfvuzs2J2BAAAABnRSTlMAMECAkKASMdVYAAAAJElEQVQI12NgQAZMIQJAUiwtEUi6pSUDyTAwqQYWYTQWQFENAIupBKMc2wDEAAAAAElFTkSuQmCC") repeat-x;
  height: 10px;
  margin: 50px 50px 0; }



/*# sourceMappingURL=style.css.map */