// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #202020;
$blue-prime: #5fbeec;
$blue-second: #0087b3;
$yellow-prime: #fcf298;
$yellow-second: #efe422;
