// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #202020;
$blue-prime: #5fbeec;
$blue-second: #0087b3;
$yellow-prime: #fcf298;
$yellow-second: #efe422;
$dot-color: #9192FB;
$bg-color: linear-gradient(135deg, $yellow-prime 25%,$yellow-second 87%);