// Shortcuts
//-----------
$noborder: 0 solid transparent !default;
$transition: 0.3s all ease !default; // SETTINGS
//-------------------
$size-restraint-for-large-screens: true !default; // enable if you want to add a max-width to content on very large screens.
$size-restraint-max-width: 1920px !default;
$gutter: 10px !default; // default spacing
$font-directory: '../fonts' !default;
$sans-serif-font-name: 'Aller' !default;
$sans-serif-font-path: 'aller' !default; // Font Stacks
$sans-serif: $sans-serif-font-name,'Calibri', sans-serif !default; // Text settings
$main-font: $sans-serif !default;
$main-font-size: 18px !default;
$main-line-height: 1.5 !default;
$main-font-weight: normal !default;
$main-font-color: rgb(35,31,32);
$font-break: 800px;
$headings-font: $sans-serif !default;
$headings-font-weight: normal;
$headings-font-style: normal;
$headings-text-transform: normal;
$headings-text-align: center;
$hyphenate-paragraphs: true !default;
$hyphenate-headings: false !default;
$paragraph-gap: 1.5rem !default;
$paragraph-text-align: justify !default;
$text-highlighted-color: $blue-prime !default;
$link-color: $blue-second !default;
$link-hover-color: $blue-prime !default;
$link-line: false !default;
$link-hover-line: false !default;
$background-color: $yellow-prime !default;
$container-background-color: white !default;
$enable-default-grid: true !default;
$container-max-width: 900px;
$column-count: 32 !default;
$section-span: $column-count - 14 !default;
$section-content-span: $section-span - 4 !default;
$section-quote-span: $section-content-span - 1 !default;
$breakpoint-s-to-xs: 700px !default;
$breakpoint-m-to-s: 960px !default;
$breakpoint-l-to-m: 1260px !default;
$overlay-border: 0 solid $blue-prime !default;
$fullscreen-background-size: cover !default;
$fullscreen-background-position: center center !default;
$textoverlay-background: black !default;
$textoverlay-image-opacity: 0.5 !default;
$textotverlay-text-align: center !default;
$textoverlay-color: white !default;
$textoverlay-size: 3.1em !default;
$textoverlay-line-height: 1.05em !default;
$textoverlay-font-weight: normal !default;
$textoverlay-font-style: italic;
$slider-ratio-width: 16 !default;
$slider-ratio-height: 9 !default;
$slider-navigator-size: 35px !default;
$slider-arrow-color: $white !default;
$slider-arrow-hover-color: rgba($white, .5) !default;
$slider-arrow-thickness: 3px !default;
$slider-arrow-shadow: true !default;
$menu-bg: $white !default;
$menu-color: $blue-second !default;
$menu-hover-color: $blue-prime !default;
$menu-logo-max-width: 100px !default;
$nav-toggle-max-width: 40px !default;
$hamburger-color: $menu-color !default;
$hambuger-hover-color: $menu-hover-color !default;
$menu-collapse: 1060px !default;
