pre {
  margin: 2rem 0 !important;
}

.syndicom {
  position: fixed;
  right: 20px;
  bottom: 0;
  width: 20%;
  min-width: 150px;
  max-width: 250px;
  background: white;
  border-radius: $gutter;
  padding-top: $gutter/2;
  padding-left: $gutter;
  padding-right: $gutter;
  $padding-bottom: 0;
}

.trennlinie {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAACXBIWXMAABOHAAAThwHVRKcyAAAAFVBMVEX///9fvuxfvuxfvuxfvuxfvuxfvuzs2J2BAAAABnRSTlMAMECAkKASMdVYAAAAJElEQVQI12NgQAZMIQJAUiwtEUi6pSUDyTAwqQYWYTQWQFENAIupBKMc2wDEAAAAAElFTkSuQmCC") repeat-x;
  height: 10px;
  margin: $gutter*5 $gutter*5 0;
}