// set global box sizing

* {
  box-sizing: border-box;
}
// add some of the defaults back in

b,
strong {
  font-weight: bold;
}

i {
  font-style: italic;
}
// ensure all images are responsive

img {
  max-width: 100%;
  height: auto;
}

body,
html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  height: auto;
  transition: $transition;
  // if size restraing is active, prevent content from being wider than 1920px;
  @if $size-restraint-for-large-screens {
    footer,
    header,
    main {
      width: 100%;
      max-width: $size-restraint-max-width;
      margin-left: auto !important;
      margin-right: auto !important;
      box-sizing: border-box;
    }
  }
  // if boxed layout, add a background color to body and another background to box.
  &.boxed {
    @include background;

    .box {
      background: $container-background-color;
    }
  }
}

.box {
  margin: 0;
  box-sizing: border-box;
}

section.box {
  margin-top: 0;
  margin-bottom: 0;
  padding: $gutter;
}

.main {
  margin: 10em auto 5em;
}
@media screen and (max-width: $breakpoint-s-to-xs) {
  .main {
    margin: 6em auto 2em;
  }
}

figure {
  padding-bottom: $gutter / 2; // adds some margin before images
  margin: 1.25rem 0;
}

footer {
  padding: 5px;
  font-style: italic;

  &.copyright {}

  &.toolbar {}
}