// set default grid
@if $enable-default-grid {
  body,
  html {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  body {
    @include gridCreator(auto auto auto, 12fr, (head, main, foot), "head", "main", "foot");
    align-items: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat($column-count, 1fr);
  align-items: center;

  .grid {
    display: grid;
    grid-template-columns: repeat($column-count, 1fr);
  }

  div {
    @extend .item-span-#{$column-count};
  }
  @for $i from 1 through $column-count {
    .item-span-#{$i} {
      grid-column-start: auto;
      grid-column-end: span $i;
    }

    .item-span-lg-#{$i},
    .item-span-md-#{$i},
    .item-span-sm-#{$i} {
      grid-column-start: auto;
      grid-column-end: span $column-count;
    }
  }
  @for $i from 1 through $column-count {
    .item-offset-#{$i - 1} {
      grid-column-start: $i;
    }

    .item-offset-lg-#{$i},
    .item-offset-md-#{$i},
    .item-offset-sm-#{$i} {
      grid-column-start: auto;
    }
  }
  @media screen and (min-width: $breakpoint-s-to-xs) {
    @for $i from 1 through $column-count {
      .item-span-sm-#{$i} {
        grid-column-start: auto;
        grid-column-end: span $i;
      }
    }
    @for $i from 1 through $column-count {
      .item-offset-sm-#{$i - 1} {
        grid-column-start: $i;
      }
    }
  }
  @media screen and (min-width: $breakpoint-m-to-s) {
    @for $i from 1 through $column-count {
      .item-span-md-#{$i} {
        grid-column-start: auto;
        grid-column-end: span $i;
      }
    }
    @for $i from 1 through $column-count {
      .item-offset-md-#{$i - 1} {
        grid-column-start: $i;
      }
    }
  }
  @media screen and (min-width: $breakpoint-l-to-m) {
    @for $i from 1 through $column-count {
      .item-span-lg-#{$i} {
        grid-column-start: auto;
        grid-column-end: span $i;
      }
    }
    @for $i from 1 through $column-count {
      .item-offset-lg-#{$i - 1} {
        grid-column-start: $i;
      }
    }
  }

  .fullscreen {
    @extend .item-span-#{$column-count};
    height: 100vh;
    background-size: $fullscreen-background-size;
    background-position: $fullscreen-background-position;
  }

  .foot {
    @extend .item-span-md-#{$section-span};
    @extend .item-offset-md-#{($column-count - $section-span)/2};
  }

  section {
    padding: $gutter*5 0;
    @media screen and (max-width: $breakpoint-m-to-s) {
      padding: $gutter 0;
    }

    .boxed &:first-of-type:not(.fullscreen):not(.full-width) {
      padding-top: $gutter * 5;
      @media screen and (max-width: $breakpoint-m-to-s) {
        padding-top: $gutter*2;
      }
    }

    .boxed &:last-of-type {
      padding-bottom: $gutter * 5;
      @media screen and (max-width: $breakpoint-m-to-s) {
        padding-bottom: $gutter*5;
      }
    }
    @extend .item-span-md-#{$section-span};
    @extend .item-offset-md-#{($column-count - $section-span)/2};
    display: grid;
    grid-template-columns: repeat(#{$section-span}, 1fr);

    .oversized,
    pre {
      @extend .item-span-#{$section-span};
      display: grid;
      grid-template-columns: repeat(#{$section-span}, 1fr);
      padding: 1.25rem 0;
      position: relative;
      margin-bottom: 2rem;
      @media screen and (max-width: $breakpoint-l-to-m) {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      img {
        @extend .item-span-md-#{$section-span};
      }

      code {
        padding: 0 $gutter;
      }

      div,
      figcaption,
      p {
        @extend .item-span-#{$section-content-span};
        @extend .item-offset-#{($section-span - $section-content-span)/2};
      }
    }

    .textoverlay {
      padding: 0;
      margin: $gutter * 3 0;
      background: $textoverlay-background;

      img {
        opacity: $textoverlay-image-opacity;
      }

      .overlay-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: $textotverlay-text-align;
        width: 100%;
        color: $textoverlay-color;
        font-size: $textoverlay-size;
        line-height: $textoverlay-line-height;
        font-weight: $textoverlay-font-weight;
        font-style: $textoverlay-font-style;
      }
    }

    .content-wide,
    .slider-wrap,
    .video-wrap,
    audio,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    iframe,
    img,
    ol,
    p,
    ul {
      @extend .item-span-#{$section-content-span};
      @extend .item-offset-#{($section-span - $section-content-span)/2};
      width: 100%;

      &.large {
        @extend .item-span-#{$section-span};
        @extend .item-offset-0;
      }
    }
  }
}