.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $menu-bg;
  color: $blue-second;
  z-index: 10000;
  font-family: $headings-font;
  text-transform: normal;
  box-shadow: 0 0 15px rgba(black, .75);
  @include flexbox(row, wrap, space-between, center);

  &.boxed {
    justify-content: center;
  }

  .bar {
    width: 100%;
    @include flexbox(row, no-wrap, space-between, center);
  }

  .current {
    color: $blue-prime;
    border-bottom: 3px solid $blue-prime;
  }

  .nav-toggle {
    cursor: pointer;
    display: none;
    @media screen and (max-width: $menu-collapse) {
      display: block;
      padding: $gutter*2;
      margin: 0 $gutter*2;
    }
  }

  .branding {
    display: inline-block;
    padding: $gutter/2 $gutter;
    @include flexbox(row, nowrap, space-between, center);

    span {
      padding: $gutter/2;
    }

    img {
      display: inline-block; // max-width: $menu-logo-max-width;
    }
  }

  a,
  span {
    color: $menu-color;
    cursor: pointer;

    &:hover {
      color: $menu-hover-color;
    }
  }

  ul {
    top: -20px;
    right: 50px;
    padding: 0 $gutter;
    list-style: none;
    list-style-type: none;
    position: relative;
    background: $menu-bg;
    margin: 0;
    z-index: 10001;
    @media screen and (min-width: 1200px) {
      right: 100px;
    }
    @media screen and (max-width: $menu-collapse) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 220px;
      transform: translateY(-220px);
      transition: 0.3s all ease;

      &.active {
        transform: translateY(0);
        box-shadow: 0 0 15px rgba(black, .75);
        padding-left: $gutter*5;
      }
    }

    li {
      list-style: none;
      display: inline-block;
      padding: 2px $gutter;
      @media screen and (max-width: $menu-collapse) {
        display: block;
      }
    }
  }
}

.hamburger {
  font-size: 0;
  width: 30px;
  height: 3px;
  background: $hamburger-color;
  position: relative;

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background: $hamburger-color;
  }

  &:before {
    top: -9px;
  }

  &:after {
    bottom: -9px;
  }

  &:hover {
    background: $hambuger-hover-color;

    &:after,
    &:before {
      background: $hambuger-hover-color;
    }
  }
}

.ex {
  font-size: 0;
  position: relative;
  right: - $gutter * 2;
  top: - $gutter;
  width: 100%;
  height: 20px;
  display: block;

  &:after,
  &:before {
    content: '';
    width: 3px;
    height: 30px;
    position: absolute;
    top: $gutter;
    right: $gutter;
    background: $menu-color;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {
    &:after,
    &:before {
      background: $menu-hover-color;
    }
  }
}
